@charset "utf-8";
*{
 padding: 0;
 margin:0;
 font-size: 100%;
 font-weight: normal;
 box-sizing:border-box;

}
 
body{
	background-image:url(img/f_2.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#CCC;
	background-size:cover;
	background-attachment:fixed;
    font:normal 20px 'Fuente_3';
}

img{
	transition:all 0.3s ease-in-out;
	width: 100%;
    height: 90%;
}
img:hover{
	transform:scale(0.9);
    border-radius:60px;
}
a{
    color:white;
    text-decoration: none;
    
}
ul,ol{
    list-style: none;
}

h2{
    font:normal 30px 'Fuente_2';
}
section{
    margin: 10px;
    padding: 20px;
    width: 100%;
    background:#000;
	color:#FFF;
    font:normal 15px 'Fuente_3';  
}
table{
    border-collapse: collapse;
}
table td,table tr{
    border: 3px solid gray;
    padding: 10px;
    text-align: center;
}
caption{
    font-size: 25px
}
.exp{
    background:none;
    margin: 0px;
    padding: 0px;
}
.b_busqueda{
	background-color:#000;
	color:#FFF;

	
}
	.b_busqueda li{
		display:inline-block;
		padding:10px;
	}

.buscador{
	border: 3px solid #006;
	border-radius:10px;
	padding:7px;
	width:400px;
	
}


.navegacion{
	/*position:fixed;
	z-index:1000px;
	top:0px;*/
	background-color:#000;
    width: 100%;
    z-index: 100;
    transition: all 0.8s
}

.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left:0;


}
.menu > li {
    opacity: 1;
    display: inline-block;
    z-index: 100;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    z-index: 100;
    transition: all 0.8s
}
.menu li a:hover{
    background-color: #434343;
    z-index: 100;
    transition: all 0.8s
    
}
.submenu{
    position: absolute;
    background-color:#000;
    display: none;
    z-index: 100;
    transition: all 3s;
    
}
.submenu li a{
    display: block;
    padding: 15px;
    z-index: 100;
    transition: all 3s;
}
.menu li:hover .submenu{
    display: block;
    z-index: 100;
    transition: all 0.8s;
    
}

.titulo{
	text-align:center;
	font:normal 80px 'Fuente_1';
	padding:20px;
	background:#000;
	opacity:0.5;
	color:#FFF;
	/*box-shadow:#003 5px 5px 10px;*/
	/*horizontal vertical*/
}

.banner{
    width: 70%;
    height: 400px;
    background-size: 100% 100%;
    margin: 35px 15%;
    animation-name: banner;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: relative;
    transform: translateY(-470px);
    position: absolute;
    z-index: 0;
}

.fondo{
    height: 470px;
    position: relative;
    background-color: #000;
    opacity: 0.8;
}
.art_1{
	position:relative;
	clear:both;
	color:#FFF;
	opacity:0.9;
    font:normal 15px 'Fuente_3';
	
}
	.art_1 img{
		width:18.8%;
		float:left;
		padding:30px;
	}
    .art_1 h2{
        font:normal 30px 'Fuente_2';
    }

.login{
    margin: 10px;
    padding: 20px;
    background:#000;
	color:#FFF;
    display:grid;
	grid-template-columns:auto auto;
    font:normal 15px 'Fuente_3';
}
    .login input,.login span{
        margin: 5px;
        padding: 5px;
        width: 80%;
    }
    .login h2{
        font:normal 30px 'Fuente_2';
    }
    .login form{
        margin: 10px auto;
        width: 60%;
    }
    .b_registrarse{
        background-color:dimgray;
        color: black;
        border-radius: 30px;
        font:bold 20px 'Fuente_3';
    }
    .b_anadir{
        background-color:black;
        color: white;
        border-color:black;
        font:normal 15px 'Fuente_3';
    }
    .b_registrarse:hover{
        background-color:aquamarine;
    }
.login textarea{
    min-width: 80%;
    max-width: 450px;
    min-height: 200px;
    max-height: 200px;
}


.contenedor{
   
    display:grid;
	grid-template-columns:auto auto auto auto auto;
	color:#999;
    margin:auto;
    grid-gap:30px;
    
}
.contenedor img{
    width: 100%;
    margin:auto;
}
.parte_final{
	clear:both;
	font:normal 30px 'Fuente_2';
	background:#000;
	color:#FFF;
	grid-gap:20px;
	padding:20px;
	height:280px;
	display:grid;
	grid-template-columns:50% 50%;
}
.razones{
	display:grid;
	grid-template-columns:auto auto auto auto auto;
	grid-gap:20px;
	height:150px;
	color:#999;
	font:normal 15px 'Fuente_3';
	text-align:center;
	margin:auto;
	padding-top:30px;
}
	.razones img{
		border:0px;
		margin:auto;
		height:auto;
        width: auto;
	}
	.razones figcaption{
		padding-top:20px;
	}
	



.pie{
	color:#FFF;
	clear:both;
	background:#000;
}
.pieinfo{
	display:grid;
	grid-template-columns:auto auto auto;
}

.final{
	margin:20px;
	display:inline-block;
	position:relative;
}
	.final::after,.final::before{
		content:'';
		position:absolute;
		width:300px;
		height:3px;
		background-color:currentColor;
		top:0.6em;	
	}
		.final::after{
			left:-320px;
		}
		.final::before{
			right:-320px;
		}
.registro{
    color: white;
    font:normal 15px 'Fuente_3';
    width: 80%;
    margin: auto;
}

.active{
    background-color:#808080;
}
.separador{
	clear:both;
	height:15px;
}
.separador2{
	width:1%;
	height:1px;
	float:left;
}

.ani{
    width: 250px;
    height: 250px;
    animation-name: img;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}☺
.cajita{
    border: 3px solid white;
    opacity: 0.9;
    padding: 10px;
}

.contenedor2{
    display:grid;
	grid-template-columns:auto auto;
}
.imgP{
    margin: auto;
    padding: 20px;
    border: 3px solid white;
    animation-name: img;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  
    
}
@keyframes img{
    0%,25%{
        transform:scale(1);
        border-radius:0px;
        transform: rotate(45deg);
        opacity: 0.5;
    }
    25%,50%{
        transform:scale(0.9);
        border-radius:80px;
        transform: rotate(-45deg);
        opacity: 1;
    }
    50%,75%{
        transform:scale(1);
        border-radius:0px;
        transform: rotate(45deg);
        opacity: 0.5;
    }
    75%,100%{
        transform:scale(0.9);
        border-radius:80px;
        transform: rotate(-45deg);
        opacity: 1;
    }
    
    
}
@keyframes banner{
    0%,16%{
        background-image: url(img/slides/1.jpg);
        opacity: 1;
    }
    17%,20%{
        opacity: 0.1;
    }
    21%,37%{
        background-image: url(img/slides/2.jpg);
        opacity: 1;
    }
    38%,41%{
        opacity: 0.1;
    }
    42%,58%{
        background-image: url(img/slides/3.jpg);
        opacity: 1;
    }
    59%,62%{
        opacity: 0.1;
    }
    63%,79%{
        background-image: url(img/slides/4.jpg);
        opacity: 1;
    }
    80%,83%{
        opacity: 0.1;
    }
    84%,100%{
        background-image: url(img/slides/5.jpg);
        opacity: 1;
    }
    
}

@font-face{
	font-family:'Fuente_1';	
	src:url(fonts/Bring_Me_A_War.ttf);
}
@font-face{
	font-family:'Fuente_2';
	src:url(fonts/dum1.ttf);
}
@font-face{
	font-family:'Fuente_3';
	src:url(fonts/coolvetica_rg.ttf);

}